<%= render partial: "shared/header" %> 
        <!-- Start Wrap-->
        <div id="wrap">
            <div class="main" id="main-no-space" >  
                <div id="main-page">
                    <div id="wrapper" class="container">
                        <div id="page-title">
                            <h2>Services</h2>
                        </div>
                        <!-- <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>Notice!</strong> 20% discount on our new features.
                        </div> -->
                        <div class="row">
                        
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> Website Design</h4>
                                <p> We provide high quality, time bound, cost effective outsourcing IT services through our offshore facilities in India.
                                <div class="tags">
                                        <span class="label">HTML</span>
                                        <span class="label">HTML5</span>
                                        <span class="label">HAML</span>
                                        <span class="label">twitter bootstrap</span>
                                        <span class="label">graphic designs</span>
                                        <span class="label">Word Press</span>
                                        <span class="label">Appealing and professional style</span>
                                        <span class="label">CSS3</span>
                                        <span class="label">jQuery</span>
                                        <span class="label">Responsive</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> Web Application Development</h4>
                                <p> We provide high quality, time bound, cost effective outsourcing IT services through our offshore facilities With open source technology Ruby on Rails and PHP5.
                                <div class="tags">
                                        <span class="label">Ruby on Rails</span>
                                        <span class="label">Sinatra</span>
                                        <span class="label">CakePhp</span>
                                        <span class="label">Angular Js + rails + CoffeeScript</span>
                                        <span class="label">CoffeeScript</span>
                                        <span class="label">JavaScript</span>
                                        <span class="label">MVC</span>
                                        <span class="label">API for another device</span>
                                        <span class="label">nosql (MongoDB, Amazon RDS/dynamoDB, redis)</span>
                                        <span class="label">MySql</span>
                                        <span class="label">Postgres</span>
                                        <span class="label">Web Service</span>
                                        <span class="label">JSON</span>
                                        <span class="label">Ajax</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> Mobile Application Development</h4>
                                <p>We provide Mobile Application Development platform including iPhone Development, Android Development and HTML5 enabled Universal mobile application development.
                                <div class="tags">
                                        <span class="label">Android</span>
                                        <span class="label">Custom iphone/iPad Apps</span>
                                        <span class="label">xcode</span>
                                        <span class="label">xcode</span>
                                        <span class="label">testflightapp</span>
                                        <span class="label">Cocoa Touch Framework</span>
                                        <span class="label">Objective C</span>
                                        <span class="label">Ecommerce & Enterprise Apps</span>
                                        <span class="label">JSON</span>
                                        <span class="label">jQueryMobile</span>
                                        <span class="label">Customization in existing app</span>
                                        <span class="label">Media & Location Driven Apps</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> E-Commerce Solutions</h4>
                                <p>Our team is proficient in customizing open source eCommerce solutions like Spree, Zen Cart, Interspire and 3d Cart and have integrated with payment gateways like paypal, payu, rupay, visa/master etc.,
                                <div class="tags">
                                        <span class="label">Spree</span>
                                        <span class="label">Zen Cart</span>
                                        <span class="label">3d Cart</span>
                                        <span class="label">payu</span>
                                        <span class="label">paypal</span>
                                        <span class="label">Mobile app</span>
                                        <span class="label">Customization in existing application/ app</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="span3">
                                <h4><i class="icon-pencil"></i> Social Integrations</h4>
                                <p>Social networking websites now becoming a place for connecting and communicate different people with different ideas.
                                <div class="tags">
                                        <span class="label">Facebook</span>
                                        <span class="label">Twitter</span>
                                        <span class="label">Google</span>
                                        <span class="label">Github</span>
                                        <span class="label">Linkedin</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> Server/OS Manage</h4>
                                <p>Make application in better environment for running smooth in heavy network traffic.
                                <div class="tags">
                                        <span class="label">nginx/apache</span>
                                        <span class="label">webrick</span>
                                        <span class="label">Redis</span>
                                        <span class="label">unicorn/thin</span>
                                        <span class="label">Mac OS X</span>
                                        <span class="label">Ubuntu</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-hand-right"></i> Testing Expert</h4>
                                <p><div class="tags">
                                        <span class="label">Rspec</span>
                                        <span class="label">White box</span>
                                        <span class="label">Black box</span>
                                        <span class="label">Functional</span>
                                        <span class="label">Performance</span>
                                        <span class="label">Database tuining</span>
                                    </div></p>=> <a href=""> Portfolio</a>
                            </div>
                            <div class="span3">
                                <h4><i class="icon-cloud"></i> Cloud Deployments/ services</h4>
                                <p><div class="tags">
                                        <span class="label">Amazon</span>
                                        <span class="label">Digital Ocean</span>
                                        <span class="label">rackspace</span>
                                        <span class="label">Amazon EC2</span>
                                        <span class="label">ELB (Elastic Load Balancer)</span>
                                        <span class="label">Blue Host</span>
                                        <span class="label">EBS (Elastic Block Store)</span>
                                        <span class="label">Site5</span>
                                        <span class="label">VPS</span>
                                        <span class="label">SSE (Server Side Encryption)</span>
                                    </div>
                                </p>=> <a href=""> Portfolio</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="span6">
                                <div class="headline "><h4>Our Core Services</h4></div>
                                <div class="one-third column alpha">
                                    <p>Selecting a suitable development environment depends a lot on the nature of the site and the project requirements. One needs to carefully thing about the technologies to be deployed as you are likely to live with it for a long time. GeeksOrb provides solutions in custom-made websites, content management systems (CMS), and other web-based apps and services with Ruby on Rails and PHP5.</p>
                                </div>
                                <div class="one-third column alpha">
                                    <p>Our sevices aims at strengthening the presence of the client in the web market by meticulously designing a campaign and promoting the page rank through SEO and SME.</p>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="headline "><h4>Do I Need SEO</h4></div>
                                <ul class="check_list">
                                    <li>85% of Internet users find websites through search engines.</li>
                                    <li>90% of Internet users do not go past the top 30 search engine results.</li>
                                    <li>75% of Internet users have the intention of purchasing product or service when using search engines.</li>
                                </ul>
                                <div class="headline "><h4>Benefits</h4></div>
                                <ul class="check_list">
                                    <li>Increase Brand visibility.</li>
                                    <li>Make your website more intuitive and user-friendly.</li>
                                    <li>Helps in cost effective customer acquisition.</li>
                                    <li>Enhance Product findability.</li>
                                    <li>Improve overall page ranks of the website.</li>
                                </ul>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="span8">
                                <div class="headline margintop marginbottom"><h4>Our Clients</h4></div>
                                <ul class="thumbnails">
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-1.jpg"  class="client-logo" alt=""/></div></li>
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-3.jpg"  class="client-logo" alt=""/></div></li>
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-2.jpg"  class="client-logo" alt=""/></div></li>
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-4.jpg"  class="client-logo" alt=""/></div></li>
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-5.jpg"  class="client-logo" alt=""/></div></li>
                                    <li class="span2"><div class="thumbnail"><img src="assets/client-logo-1.jpg"  class="client-logo" alt=""/></div></li>

                                </ul>
                            </div>
                            <div class="span4">
                            <div class="headline margintop marginbottom"><h4>Our Clients</h4></div>
                                <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/bkhgs/posts/907113855995952" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bkhgs/posts/907113855995952">Post</a> by <a href="https://www.facebook.com/umishra47">Uday Kumar</a>.</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <!-- End wrap-->

        <!-- Start Footer -->
        <div id="footer">
          <div class="container">
              <div class="links">
                  <ul class="unstyled">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="services.html">SERVICES</a></li>
                    <li><a href="projects.html">PROJECTS</a></li>
                    <li><a href="faqs.html">PRIVACY POLICY</a></li>
                    <li><a href="contact.html">CONTACT US</a></li>
                  </ul>
              </div>
          </div>
        </div>
        <!-- End Footer -->


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','js/analytics.js','ga');

      ga('create', 'UA-40566302-3', 'uexel.us');
      ga('send', 'pageview');

    </script>