<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeeksOrb | Website, Mobile and Software Development Company INDIA | CMS | E-Commerce</title>
  <meta name="keywords" content="Mobile Development,Mobile Application Development,Mobile Application Development India,Application Development Services,Mobile Application  development companies,Mobile Application Development Company In India,Software Development company,Enterprise application Development,Mobile Website Development,offshore Mobile Application Development,mobile web development,mobile application development delhi,mobile website,ios Application Development Company,software application development company,mobile website design,Software Development,andriod apps development,ios Application Development,Application Development Companies,developers,Business appplication development,Custom Software Development,Software Development and maintenance,Web Development and maintanance,Web Development Companies,Web Design and development company,Web Development,Web Design and developement,Mobile Apps Development India,offshore web development,Web Development company in india,Web Application Development company,web development in india,Web Design & development,custom web development,Web Development company in delhi,custom web application development,Web development agency,Web sites development,web page development,web portal development,web development services,Web development software,Digital Marketing,Digital Media Marketing,Digital Marketing Services,Digital Marketing company,Digital Marketing agency,Digital Marketing companies,online digital marketing,Digital Marketing Consultant,Digital Marketing agencies,Digital Marketing Solutions,Digital Marketing Plan,Digital Marketing Strategies,Digital Marketing India,Learn Digital Marketing,Online digital marketing courses,Digital Marketing Agency india,Digital Marketing Ideas,Digital Marketing Companies in india,Digital Marketing in india,integrated Digital Marketing,Digital Marketing Campaigns,Social Media,Social Media marketing strategy,Social media optimization,search engine optimization india,search engine optimization,Social Media marketing,social media sites,social media optimization services,search engine optimisation,serach engine optimization services,social media agency,social media today,social media networking,search engine marketing,social media marketing services" />
  <meta name="description" content="GeeksOrb is a Website, Software and Mobile Application development Company offering  services with India's best talented web Solution and developers." />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
